
@{
    @model IEnumerable<Event>
    ViewData["Title"] = "Events";
}

<input type="hidden" id="event-hidden-input" value="@ViewBag.EventCount" />

<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Eventlər</h3>
                <p style="font-style: italic;">Oyunlara bizimlə birlikdə bax</p>
            </div>
        </div>
    </div>
</section>

<section id="event">
    <div class="container">
        <div class="row eventRow">
            @if (Model.Where(e => e.Time > DateTime.Now).Count() > 0)
            {
                <partial name="_EventPartialView" model="Model" />
            }
            else
            {
                <div class="col-6">
                    <p>Hal-hazırda event yoxdur</p>
                </div>
            }
        </div>
        @if (ViewBag.EventCount > 2)
        {
            <div class="row mt-5">
                <div class="col-12 text-center">
                    <div class="btn-load-more btn-event">
                        <a href="#">Daha Çox</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
