
@{
    @model IEnumerable<Gallery>
    ViewData["Title"] = "Gallery";
}

<input type="hidden" id="gallery-hidden-input" value="@ViewBag.ImageCount" />

<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Qaleriya</h3>
            </div>
        </div>
    </div>
</section>

<section id="gallery">
    <div class="container">
        <div class="row galleryRow">
            <partial name="_GalleryPartialView" model="Model" />
        </div>
        @if (ViewBag.ImageCount > 20)
        {
            <div class="row mt-5">
                <div class="col-12 text-center">
                    <div class="btn-load-more btn-gallery">
                        <a href="#">Daha Çox</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container">
        <div class="inner-slider">
            <div class="inner-slide">
                <div class="inner-photos d-flex p-0 m-0">
                    <img src="" alt="">
                </div>
            </div>
            <i class="close fas fa-times"></i>
        </div>
    </div>
</section>

