
@{
    @model IEnumerable<Gallery>
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}

<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Şəkillər</h3>
                    </div>
                    <div class="col-12 mt-3">
                        <h5>Toplam şəkil sayı : @ViewBag.Count</h5>
                    </div>
                </div>
                <div class="row mt-5" style="margin: 30px 0;">
                    <div class="col-12">
                        <a asp-action="Create" class="btn btn-primary btn-block">
                            <i class="fas fa-plus"></i> Yeni şəkil əlavə et
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Şəkil</th>
                    </tr>
                </thead>
                <tbody>
                    <partial name="_GalleryIndexPartialView" model="Model" />
                </tbody>
            </table>
            <div class="mt-5 d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="pagination"></ul>
                </nav>
            </div>

        </div>
    </div>
</div>

@{
    double result = ViewBag.Count / 10;
    var a = ViewBag.Count % 10;
    if (a != 0)
    {
        result++;
    }
    if (result == 0)
    {
        result = 1;
    }
}

@section Scripts{
    <script type="text/javascript">
    $(function () {
        window.pagObj = $('#pagination').twbsPagination({
            totalPages: @result,
            visiblePages: 3,
            onPageClick: function (event, page) {
                event.preventDefault();
                 $.ajax({
                     url: "/AJAX/LoadGalleryIndex?skip=" + (page - 1) * 10,
                     type: "GET",
                     success: function (res) {
                         $("table tbody").html(res);
                     }
                 });
            }
        })
    });
    </script>

}