
@{
    @model IEnumerable<News>
    ViewData["Title"] = "Index";
}

<input type="hidden" id="news-hidden-input" value="@ViewBag.NewsCount" />

<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Xəbərlər</h3>
            </div>
        </div>
    </div>
</section>

<!-- Start Latest News -->

<section id="latest-news" style="background: white;">
    <div class="container">
        <div class="row newsRow mt-3">
            <partial name="_NewsPartialView" model="Model" />
        </div>
        @if (ViewBag.NewsCount > 14)
        {
            <div class="row mt-5">
                <div class="col-12 text-center">
                    <div class="btn-load-more btn-news">
                        <a href="#">Daha Çox</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<!-- End Latest News -->