
@{
    @model IEnumerable<Video>
    ViewData["Title"] = "Index";
}

<input type="hidden" id="video-hidden-input" value="@ViewBag.VideoCount" />

<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>İcmallar</h3>
            </div>
        </div>
    </div>
</section>

<section id="last-match">
    <div class="container">
        <div class="row videoRow">
            <partial name="_VideoPartialView" model="Model" />
        </div>
        @if (ViewBag.VideoCount > 12)
        {
            <div class="row mt-5">
                <div class="col-12 text-center">
                    <div class="btn-load-more btn-video">
                        <a href="#">Daha Çox</a>
                    </div>
                </div>
            </div>
        }

    </div>
</section>