@{
    @model IEnumerable<Gallery>
}

@foreach (var b in Model)
{
    <tr>
        <td>

            <img style="width: 150px;" src="~/images/@b.PhotoURL" class="img-thumbnail" />

        </td>
        <td style="vertical-align: middle; text-align: center; color:white;">
            <a title="Ətraflı bax" asp-area="Admin" asp-controller="Gallery" asp-action="Details" asp-route-id="@b.Id" class="btn btn-success mt-1"><i class="fal fa-info"></i></a>
            <a title="Sil" asp-area="Admin" asp-controller="Gallery" asp-action="Delete" asp-route-id="@b.Id" class="btn btn-danger mt-1"><i class="fal fa-trash"></i></a>
        </td>
    </tr>
}